{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <h3>{{object.title}}</h3>
                <p class="text-muted text-right"><small>{{object.date_created}}</small></p>
                <p>{{object.content|striptags|truncatewords_html:1 }} <a href="{% url 'details' pk=object.pk %}">read more</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
